{% extends 'blog/base.html' %}
{% block content %}
<div class="col" xmlns="http://www.w3.org/1999/html">
    <div class="card shadow-sm">
        <img src="{{ object.image }}" class="img-thumbnail" alt="{{ object.heading }}">
        <div class="card-body">
            <p class="card-text">
                <ul class="list-group">
                    <li class="list-group-item d-flex justify-content-between align-items-center list-group-item-primary">
                        <p class="fw-bold">Заголовок:</p>{{ object.heading }}
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center list-group-item-primary">
                        <p class="fw-bold">Содержимое:</p> {{ object.content }}
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center list-group-item-primary">
                        <p class="fw-bold">Дата создания:</p> {{ object.created_at }}
                    </li>
                </ul>
            </p>

            <div class="d-flex justify-content-between align-items-center"><div class="btn-group">
                <a class="btn btn-primary" href="{% url 'blog:post_list' %}" role="button">Назад</a>
                <a class="btn btn-primary" href="{% url 'blog:post_update' post.pk %}" role="button">Редактировать</a>
                <a class="btn btn-primary" href="{% url 'blog:post_delete' post.pk %}" role="button">Удалить</a>
            </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
