{% extends 'catalog/base.html' %}
{% load my_tags %}
{% block content %}
<div class="col" xmlns="http://www.w3.org/1999/html">
    <div class="card shadow-sm">
        <img src="{{ product.image | media_filter }}" class="img-thumbnail" alt="{{ product.name }}">
        <div class="card-body">
            <p class="card-text">
                <ul class="list-group">
                    <li class="list-group-item d-flex justify-content-between align-items-center list-group-item-primary">
                        <p class="fw-bold">Наименование:</p>{{ object.name }}
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center list-group-item-primary">
                        <p class="fw-bold">Описание:</p> {{ object.description }}
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center list-group-item-primary">
                        <p class="fw-bold">Категория:</p> {{ object.category }}
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center list-group-item-primary">
                        <p class="fw-bold">Цена:</p> {{ object.price }}
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center list-group-item-primary">
                        <p class="fw-bold">Дата создания:</p> {{ object.created_at }}
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center list-group-item-primary">
                        <p class="fw-bold">Дата изменения:</p> {{ object.updated_at }}
                    </li>
                </ul>
            </p>

            <div class="d-flex justify-content-between align-items-center"><div class="btn-group">
                <a class="btn btn-primary" href="{% url 'catalog:catalog' %}" role="button">Назад</a>
                {% if perms.catalog.can_unpublish_product or user == product.owner %}
                <a class="btn btn-primary" href="{% url 'catalog:product_update' product.pk %}" role="button">Редактировать</a>
                {% endif %}
                {% if perms.catalog.delete_product or user == product.owner %}
                <a class="btn btn-primary" href="{% url 'catalog:product_delete' product.pk %}" role="button">Удалить</a>
                {% endif %}
            </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
